<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <a href="/" class="text-blue-500"> < </a>
        <div class="py-2 justify-start flex gap-2 flex-wrap task">
            
            <% if(Users.length > 0) { %>
            <h1 class="text-xl text-white px-3 pt-2">All Users</h1>
            <% Users.forEach((User) => { %> 
                <div class="text-white mx-2 p-3 bg-zinc-800 h-70 w-70 rounded-md hover:border-emerald-600 hover:border-2">
                    <p class="text-s mb-2">Name : <%=User.name%> </p>
                    <p class="text-s mb-3">Age : <%=User.age%> </p>
                    <a class="mr-3 text-s bg-teal-500 p-1 rounded-md hover:bg-blue-500" href="/editopen/<%= User._id %>">Edit</a>
                    <a class="mx-3 text-s bg-zinc-500 p-1 rounded-md hover:bg-red-500" href="/delete/<%= User._id %>">Delete</a>
                </div>
            <% }) %>
            <% } else { %>
            <div class="text-white mx-2 p-3 bg-zinc-800 h-70 w-70 rounded-md hover:border-emerald-600 hover:border-2">
                <p class="text-2xl mb-2">Create New users to see them here.</p>
                <a class="mr-3 text-s bg-yellow-300 p-1 rounded-md hover:bg-lime-400 text-zinc-950" href="/">Create</a>
            </div>
            <% } %>
            
        </div>
    </div>
</body>
</html>